<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-gvozdje">
                <div class="card-header">
                    <h5 class="card-title">Ukupno prozivoda Mreze</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_mreza }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="cena-gvozdje">
                <div class="card-header">
                    <h5 class="card-title">Dimenzije kocke 15x15cm</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ dime }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="jedinica-KG-Gvozdje">
                <div class="card-header">
                    <h5 class="card-title">Dimenzije kocke 10x10cm</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ dimenzije }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>