<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-gvozdje">
                <div class="card-header">
                    <h5 class="card-title">Ukupno proizvoda Gvozdja</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_gvozdje }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="cena-gvozdje">
                <div class="card-header">
                    <h5 class="card-title">85din cena</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ cena }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="jedinica-KG-Gvozdje">
                <div class="card-header">
                    <h5 class="card-title">KG jedinica mere</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ kg }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>